<h1><%= @lab.nome %> (Intranet)</h1>

<ul>
</ul>

<ul>
</ul>

<ul class="list-group">
  <li class="list-group-item"><%= link_to "Confirmar recebimentos de exames", confirmar_intranet_exame_requisicoes_path %></li>
  <li class="list-group-item"><%= link_to "Solicitações de exames", intranet_exame_requisicoes_path %></li>
  <li class="list-group-item"><%= link_to "Voltar à página inicial do laboratório (sair da intranet)", root_path %></li>
</ul>