<h1><%= @lab.nome %> (Intranet)</h1>

<ul>
  <li><%= link_to "Confirmar recebimentos de exames", confirmar_intranet_exame_requisicoes_path %></li>
</ul>

<ul>
  <li><%= link_to "Solicitações de exames", intranet_exame_requisicoes_path %></li>
</ul>
