<div class="container">

<h1>Endereço disponível</h1>

<!-- Subdomínio: <%= @subdomain %>, Domínio: <% @domain %> -->

<div class="alert alert-success" role="alert">
  O endereço que você está acessando (<strong><%=request.url%></strong>) está disponível para aquisição.
</div>

<p>Este subdomínio está disponível para aquisição. Entre em contato com (83) 98108-1977 para contratá-lo.</p>

</div>