<div class="container">


<!-- Subdomínio: <%= @subdomain %>, Domínio: <% @domain %> -->


<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Endereço disponível</h4>
  <p>O endereço que você está acessando (<strong><%=request.url%></strong>) está disponível para aquisição. Preencha o formulário abaixo para criar um laboratório experimental neste endereço.</p>
</div>


</div>

<%= render partial: 'laboratorios/new', locals: {subdomain: @subdomain} %>