<div class="container"

<h1>Atendimentos#iniciando</h1>
<p>Find me in app/views/atendimentos/iniciando.html.erb</p>


<% provide(:title, 'Cadastrando pacientes e tutores') %>
<% provide(:button_text, 'Salvar') %>

<%= render 'tutorform', tutor: Tutor.new %>

<div id="tutores_cadastrados">
</div>

</div>