<tr>
  <td><%= tipo.nome %></td>
  <td><%= number_to_currency(tipo.valor, unit: "R$", separator: ",")%></td>
  <% if can_update && edit_mode%>
    <td class="row">

      <%#= form_with model:tipo, :method => :patch do |f| %>
        <%#= f.submit 'Editar', id: "edit_exame_tipo_#{tipo.id}" %>
      <%# end %>

      <%= form_with model:tipo, :method => :delete do |f| %>
        <%= f.submit 'Deletar', id: "delete_exame_tipo_#{tipo.id}", class:"btn btn-danger btn-sm" %>
      <% end %>

    </td>
  <% end %>
</tr>
