<div class="container">

<h1>Laboratório inexistente</h1>

<!-- Subdomínio: <%= @subdomain %> -->

<div class="alert alert-primary" role="alert">
  O endereço que você está acessando (<strong><%=request.url%></strong>) não pertence a nenhum laboratório cadastrado.
</div>

<p>Este subdomínio está disponível para aquisição. Entre em contato com (83) 98108-1977 para contratá-lo.</p>

</div>