<h1><%= @lab.nome %></h1>

<ul>
  <li><%= link_to "Solicitar exame", new_exame_requisicao_path %></li>
  <li><%= link_to "Exames solicitados", exame_requisicoes_path %></li>
</ul>


<ul>
  <li><%= link_to "Intranet", intranet_path %></li>
</ul>


