<!--%= image_tag curent_user.gravatar_url %-->
<div class="container">


<div class="jumbotron" id="apresentacao_inicial">
  <h1 class="display-4"><%= @lab.nome %></h1>
  <p class="lead"><%= @lab.apresentacao %></p>
  <p class="lead">
    <% if current_user.nil? %>
    <hr class="m-y-2">
    <p>Na primeira solicitação você precisará registra-se no sistema.</p>
    <% end %>
    <%= link_to('Solicitar exame »', new_exame_requisicao_path, class: "btn btn-primary btn-lg") %>
  </p>
</div>

  <h1 id="tipos">Exames disponíveis</h1>
  <ul class="list-group list-group-flush">
    <% @lab.exame_tipos.each do |tipo| %>
    <li class="list-group-item"><%= tipo.nome %></li>
    <% end %>
  </ul>
</div>