<% provide(:title, 'Requisição de exame') %>
<% provide(:button_text, 'Solicitar exame') %>
<h1>Criando requisição de exame</h1>

<%= render 'form', exame_requisicao: @exame_requisicao %>

<%= link_to 'Voltar', root_path %>
